{% extends "base_generic.html" %}

{% block content %}
  <h1> {{ author.first_name }} {{ author.last_name }}</h1>

  <p>{{ author.date_of_birth }} - {{ author.date_of_death }} </p> <!-- author detail link not yet defined -->
<!--  
  <p><strong>Genre:</strong> {% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>  
-->

  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>

    {% for elem in author.book_set.all %}
    <hr>    
    <p><strong> <a href="{{ elem.get_absolute_url }}"> {{elem.title}} </a> ( {{ elem.get_book_count }} )  </strong> </p>
    <p>{{elem.summary}}</p>
	   
	
    {% endfor %}
  </div>
{% endblock %}